
.spacing {
    margin: 1.6rem;
}

.taskList h1{
    text-align: center;
    font-family: var(--font-family);
    color: var(--color-header2);
    font-size: 62px;
    line-height: 65px;
    letter-spacing: -0.04em;
    padding: 1rem;
}

.taskList h3 {
    font-family: var(--font-family);
    font-size: 25px;
    line-height: 60px;
    letter-spacing: 0em;
    color: var(--color-text)
}

.tasks__header {
    display: flex;
    flex-direction: row;
}

.tasks__header p {
    font-family: var(--font-family);
    font-size: 22px;
    letter-spacing: 0em;
    color: var(--color-text);
    margin: 0rem 0rem 1.5rem;
    
}