

.container {
  height: 2rem;
  width: 100%;
  background-color: #008cff3e;
  border-radius: 10px;
  margin: -1rem 0rem 1.5rem;
  overflow: hidden;
}

.progressBar {
  padding: 5;
  font-weight: bold;
  border-radius: 0px;
}

.break-active {
  background-color: #00508d;
}