.Bars {
  margin-inline: 8rem;
}

.bars-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (max-width: 768px) {
  .Bars {
    margin-inline: 3rem;
  }
  
  .bars-layout {
    gap: 1.5rem;
  }
}

@media (max-width: 600px) {
  .slider__header {
    display: none;
  }
  
  .bars-container p {
    margin: 1.2rem 0rem;
  }
  
  .break-control {
    display: none;
  }
}