@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
    
  --color-header2: #00BCD4;
  --color-bg: #091425;
  --color-popup: #091425;
  --color-footer : #042343;
  --color-table: #162D51;
  --color-header: #0d2434;
  --color-text: #93b7db;
  --color-subtext: #93b7db;
  --color-button: #00BCD4;
  --color-hover: #65e7f8;
  --color-bar2: #97e5ff;
  --color-bar1: #207abf;
}