@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
    
  --color-header2: #01afc6;
  --color-bg: #010c1d;
  --color-popup: #010c1d;;
  --color-footer : #042343;
  --color-table: #211b1b1f;
  --color-header: #01afc6;
  --color-text: #cfddeb;
  --color-text2: #010c1d;
  --color-subtext: #93b7db;
  --color-button: #00BCD4;
  --color-hover: #65e7f8;
  --color-bar2: #97e5ff;
  --color-bar1: #0070c6;
}