.time__header {
    display: flex;
    flex-direction: row;
}

.time-content h3 {
    font-family: var(--font-family);
    font-size: 25px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: var(--color-text);
    margin-top: -20px;
    padding-top: 0;
}

.time-content__input {
    display: flex;
    flex-direction: none;
    margin: 0 0 2rem;
}

.input-base {
    flex: none;
    min-height: 50px;
    width: 180px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-radius: 5px;
    -moz-appearance: textfield;
    appearance: textfield;
}

.minutes__time-content__input {
    min-height: 50px;
    width: 180px;  
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-radius: 5px;
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0 0.5rem;
}

.input-base:disabled,
.minutes__time-content__input:disabled {
    color: gray;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button-base {
    flex: none;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: transparent;
    border: 2px solid var(--color-button);
    color: var(--color-button);
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    padding: 0 1rem;
}

.button-base:hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
}

#break-time-button {
    width: 100px;
    height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: transparent;
    border: 2px solid var(--color-button);
    color: var(--color-button);
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    width: 200px;
    padding: 0 15px;
}

#break-time-button:hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
}